.swiper-pagination-bullets > .swiper-pagination-bullet {
  background-color: #999999;
  opacity: 1;
}

.swiper-pagination-bullets > .swiper-pagination-bullet-active {
  background-color: #FFBA08;
}

.swiper-container > .swiper-button-next,
.swiper-container > .swiper-button-prev {
  color: #FFBA08;
}

.swiper-container > .swiper-button-next::after,
.swiper-container > .swiper-button-prev::after {
  font-size: 1.25rem;
  font-weight: 900;
}

@media (min-width: 1240px) {
  .swiper-container {
    width: 1240px;
  }

  .swiper-container > .swiper-button-next::after,
  .swiper-container > .swiper-button-prev::after {
    font-size: 2rem;
    font-weight: 400;
  }

  .swiper-container > .swiper-button-next {
    right: 42px;
  }

  .swiper-container > .swiper-button-prev {
    left: 42px;
  }
}